:root{
    --color-primario: #0078ad;
    --color-primario-oscuro: #00628e;
    --color-texto-principal: #2e3c50;
    --color-texto-secundario: #7f8c8d;
    --color-fondo-seccion: #f8f9fa;
    --color-borde-suave: #ecf0f1;
}
*{
    margin: 0;
    padding: 0;
}
.barralateral{
    position: fixed;
    width: 248px;
    height: 100%;
    overflow: hidden;
    display: block;
}
header{
    width: 80%;
    padding: 10px;
    float: right;
    box-shadow: 0px 1px rgba(0, 0, 0, 230);
}
.cont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.cont h1{
    font-size: 20px;
    padding: 0px 29rem 0px 0px ;
}
.buscar{
    position: relative;
    display: flex;
    align-items: center;
}
.buscar input{
    font-size: 15px;
    padding: 5px 0px 5px 25px;
    width: 245px;
}
.buscar img{
    position: absolute;
    margin-left: 8px;
    font-size: 10px;
}
.buscar .icono{
    width: 15px;
}
.cont img{
    width: 30px;
}
section{
    margin-left: 272px;
    padding: 50px 0px 0px 0px ;
    display: inline-table;
}
.container{
    width: 35rem;
    height: 50px;
    margin-top: 20px;
}
.espacio{
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    background-color: var(--color-fondo-seccion);
}
.btn{
    width: 20rem;
    height: 10rem;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0.5px solid silver;
}
.btn img{
    width: 50px;
}
.btn a{
    text-decoration: none;
}
.btn:hover{
    background-color: rgba(204, 203, 203, 0.658);
    border: 1px solid rgb(163, 163, 163);
}
.btn-1{
    width: 14.4rem;
    position: fixed;
    height: 20.7rem;
    border: 0.5px solid silver;
    margin-left: 10px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn-1 img{
    width: 50px;
}
.btn-1 a{
    text-decoration: none;
}
.btn-1:hover{
    background-color: rgba(204, 203, 203, 0.658);
    border: 1px solid rgb(163, 163, 163);
}
.btn-2{
    width: 20rem;
    height: 10rem;
    margin: 12px 0px 5px 0px ;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 0.5px solid silver;
}
.btn-2 img{
    width: 50px;
}
.btn-2 a{
    text-decoration: none;
}
.btn-2:hover{
    background-color: rgba(204, 203, 203, 0.658);
    border: 1px solid rgb(163, 163, 163);
}
.img1{
    position: fixed;
    margin-top: 50px;
    width: 25rem;
    margin-left: 6rem;
    position: absolute;
}
.mensaje{
    margin-left: 58rem;
    margin-top: 10rem;
    font-size: 30px;
    text-align: center;
}
.btn2{
    width: 15rem;
    height: 8rem;
    margin-top: 5rem;
    margin-left: 64rem;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.btn2 img{
    width: 50px;
}
.btn2 a{
    text-decoration: none;
}
.btn2:hover{
    background-color: rgba(204, 203, 203, 0.658);
    border: 1px solid rgb(163, 163, 163);
}
.espacio1{
    background-color: silver;
    width: 81.6%;
    height: 50px;
    margin-top: 16rem;
    margin-left: 15.5rem;
}