<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot_password.css') }}">
    </head>
<body>

    <div class="form-container">
        <h2>Recuperación de Contraseña</h2>
        <p class="form-subtitle">Por favor, introduce los datos correctamente para recuperar tu contraseña.</p>

        <form method="POST" action="#">
            
            <fieldset class="input-container">
                <legend>Documento de Identidad</legend>
                <input type="text" id="documento" name="documento" required>
            </fieldset>

            <fieldset class="input-container">
                <legend>Correo electrónico</legend>
                <input type="email" id="correo" name="correo" required>
            </fieldset>

            <button type="submit" class="btn-submit">Recuperar Contraseña</button>

        </form>
        <div class="login-link">
             <a href="{{ url_for('login') }}">Volver a inicio de sesión</a>
        </div>
    </div>

</body>
</html>