<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de usuarios</title>
    <link rel="stylesheet" href="assets/gestionusuarios.css">
</head>
<body>
    <div class="barralateral"></div>
    <header>
        <div class="cont">
            <div class="logo" >
                <img src="img/logonacio.png" alt="" >
            </div>
            <h1>Gestion de usuarios/roles</h1>
            <div class="buscar">
                <img src="img/buscar.png" alt="" class="icono">
                <input type="text" placeholder="Buscar estudiantes, informes, etc...">
            </div>
            <a href="#"><img src="img/notificacion.png" alt=""></a>
            <a href="#"><img src="img/usuario.png" alt=""></a>
        </div>
    </header>
    <section>
        <h1>¿Que Usuarios Desea Gestionar hoy?</h1>
        <div class="container">
            <div class="espacio"></div>
            <a href="#">
                <button class="btn" href="">
                    <img src="img/profesores.png" alt="">
                    <br>
                    Profesores
                </button>
            </a>
            <a href="#">
                <button class="btn-1">
                    <img src="img/admin.png" alt="">
                    <br>
                    Administradores Institucionales
                </button>
            </a>
            <a href="#">
                <button class="btn-2">
                    <img src="img/estudiantes.png" alt="">
                    <br>
                    Estudiantes
                </button>
            </a>
            <div class="espacio"></div>
        </div>
    </section>
    <img src="img/img1.jpg" alt="" class="img1">
    <p class="mensaje">
        Mensaje de que se hace
        <br>
        aquí
    </p>
    <a href="#">
        <button class="btn2">
            <img src="img/nuevo-usuario.png" alt="">
            <br>
            Crear nuevo Rol
        </button>
    </a>
    <div class="espacio1"></div>
</body>
</html>