<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="assets/paginaprincipal.css">
</head>
<body>
    <div class="barralateral"></div>
    <header>
        <div class="cont">
            <div class="logo" >
                <img src="img/logonacio.png" alt="" >
            </div>
            <h1>Colegio Naciones Unidas</h1>
            <div class="buscar">
                <img src="img/buscar.png" alt="" class="icono">
                <input type="text" placeholder="Buscar estudiantes, informes, etc...">
            </div>
            <a href="#"><img src="img/notificacion.png" alt=""></a>
            <a href="#"><img src="img/usuario.png" alt=""></a>
        </div>
    </header>
    <section>
        <img src="img/img2.jpg" alt="" class="img2">
        <br>
        <div class="card">
            <p style="padding-top: 30px;">Profesores Activos</p>
            <p><strong>85</strong></p>
            <p class="sub">trabajando esta semana</p>
        </div>
        <div class="card2">

        </div>
        <div class="card3">

        </div>
        <div class="card4">

        </div>
    </section>
</body>
</html>