<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios/Roles</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/superadmin/gestion_usuarios/dashboard.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
        {% extends "superadmin/base.html" %}
        {% block content %}
<main class="p-4 p-md-5">
    <div class="row-lg-12">
            <div class="card text-white h-auto border-0">
                <div class="card-body d-flex flex-column p-4 shadow-lg">
                    <img src="https://placehold.co/300x180/495057/FFFFFF?text=Ilustracion" class="img-fluid rounded-circle mx-auto d-block" alt="Ilustración">
                    <br>
                    <h3 class="h5 fw-bold text-center text-black-50">Perfil</h3>
                    <p class="text-center text-black-50">Aquí puedes ver y editar tu información personal.</p>
                    <div class="container">
                        <div class="row justify-content-center gap-6">
                            <div class="col-12 col-md-6 col-lg-5 mb-4">
                                <label for="basic-url" class="form-label text-black fs-5">Rol</label>
                                <div class="input-group-text">
                                    <span class="input-group" id="basic-addon3">Administrador</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 mb-4">
                                <label for="basic-url" class="form-label text-black fs-5">Nombre completo</label>
                                <div class="input-group-text">
                                    <span class="input-group" id="basic-addon3">Juan David Rodriguez Lopez</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 mb-4">
                                <label for="basic-url" class="form-label text-black fs-5">Teléfono</label>
                                <div class="input-group-text">
                                    <span class="input-group" id="basic-addon3">+57 300 1234567</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 mb-4">
                                <label for="basic-url" class="form-label text-black fs-5">Correo</label>
                                <div class="input-group-text">
                                    <span class="input-group" id="basic-addon3">juan.rodriguez@example.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="">
                            <button class="btn btn-primary me-md-2" type="button">Editar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</main>
        {% endblock%}
    
</body>
</html>